.section {
}
.section .content {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 15px;
  padding: 10px 0;
}
.section .content form {
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
  padding: 0 10px;
  overflow: scroll;
}
.section .content form::-webkit-scrollbar{
  width: 0;
}
.section .content form .input_container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 370px;
  max-width: 95%;
}
.section .content form .input_container label {
}
.section .content form .input_container input {
  width: 100%;
  background: var(--btn-bg);
  border-radius: 5px;
  height: 35px;
  outline: none;
  border: none;
  padding: 0 10px;
}
.section .content form .input_container select {
  width: 100%;
  background: var(--btn-bg);
  border-radius: 5px;
  height: 35px;
  outline: none;
  border: none;
  padding: 0 10px;
}
.section .content form .input_container input::placeholder {
}
.btns {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}
.btns button {
  background: var(--btn-bg);

  outline: none;
  border: none;
  width: 200px;
  height: 40px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 20px;
  max-width: 100%;
}
