:root {
  --main-bg: #808080;
  --text-color: #3a1212;
  --btn-bg: #c78544;
  --link: #67d9fe;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.5s;
}

body {
  background: var(--main-bg);
  font-family: Arial, Helvetica, sans-serif;
}
html {
  scroll-behavior: smooth;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
input,
button {
  outline: none;
  border: none;
}
button {
  cursor: pointer;
}
.coulmn {
  display: flex;
  flex-direction: column;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu_icon {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  background: var(--link);
  width: 50px;
  height: 50px;
  padding: 10px;
  border-radius: 100%;
  z-index: 10;
  display: none;
}

.section {
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
}
.show {
  right: 0 !important;
  z-index: 100;
}

/* media for nav */
@media(max-width:700px){
  .menu_icon{
    display: block;
  }
}
